<div class="comment">
  <%= form_for([@post, @post.comments.build]) do |f| %>
        <%= f.text_field :name , placeholder: 'Name'%>
        <%= f.text_field :email, placeholder: "Email (won't be displayed online)" %>
        <%= f.text_area :body, placeholder: "Your comment" %>
        <%= f.submit %>
    <% end %>
</div>
