<div class="container pages-wrapper">
  <div class="row">
    <div class="post-wrapper">
      <h1><%= @post.title %></h1>
      <p class="time"><%= @post.created_at.strftime("%B %d, %Y") %></p>
      <%= markdown(@post.body) %>

      <% if logged_in? %>
      <%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %> |
      <%= link_to "Edit", edit_post_path(@post), method: :get%>
      <% end %>
    </div>
  </div>

     <div id="disqus_thread" class="comment-section"></div>
        <script>
            (function() {  // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = '//christiemetson.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    </div>
<script id="dsq-count-scr" src="//christiemetson.disqus.com/count.js" async></script>
