<h1><%= @post.title %></h1>

<%= markdown(@post.body) %>

<%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to "Edit", edit_post_path(@post), method: :get%> |
<%= link_to "Back to journal entries", controller: 'posts', action: "index" %>
