<!DOCTYPE html>
<html>
<head>
  <title>Christie Metson</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>

  <% if logged_in? %>
  <ul>
    <li>Logged in as <%= current_admin.id %></li>
    <li>Sign out</li>
  </ul>
  <% else %>
  <% link_to '/session/new' %>
  <% end %>

  <div id="menu">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Work", work_path %></li>
      <li><%= link_to "Journal", posts_path %></li>
    </ul>
  </div>

<%= yield %>


</body>
</html>
